.chv-attachment {
  color: $white;
  margin: 5px;
  display: inline-flex; //FIXME should be possible without flexbox
  justify-content: center;
  align-items: center;
  .chv-attachment-filename {
    padding: 3px 6px;
  }
  .chv-attachment-icon {
    padding: 3px 6px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    
    //line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    display: inline-block;
  }
}
.chv-attachment-upload {
  @extend .chv-attachment;
  .chv-attachment-filename {
    background: $blue5;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .chv-attachment-icon {
    background: $blue5;
    color: $blue4;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    &:before {
      content: "\e014";
    }
    &:hover {
      background: $blue4;
      color: $blue5;
    }
  }
}
.chv-attachment-download {
  @extend .chv-attachment;
  .chv-attachment-filename {
    background: $blue6;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .chv-attachment-icon {
    background: $blue6;
    color: $blue5;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    &:before {
      content: "\e025";
    }
  }
  &:hover span {
    background: $blue4;
  }
}