.chv-attachment {
  span {
    border-radius: 3px;
    height: 28px;
    padding-left: 6px;
    margin: 0;
    &:after {
      border-radius: 0 3px 3px 0;
      vertical-align: middle;
      padding: 3px;
      margin-left: 3px;
      position: relative;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
.chv-attachment-upload {
  @extend .chv-attachment;
  span {
    @include chv-tag-icon("\e014",$gray-lighter,$gray-dark);
  }
}
.chv-attachment-download {
  @extend .chv-attachment;
  span {
    @include chv-tag-icon("\e025",$gray-lighter,$gray-dark);
  }
}
