/*.chv-search {
  div.input-group-addon span.glyphicon {
    color: $blue;
  }
}
.chv-search-inverse {
  * {
    border: none;
  }
  input {
    background-color: $darkblue;
    color: $white;
  }
  div.input-group-addon {
    background-color: $darkblue;
    span.glyphicon {
      color: $white;
    }
  }
}
.chv-btn-default {
  background-color: $white;
  border: 1px solid $grey;
  color: $blue;
}
.chv-btn-primary {
  background-color: $blue;
  border: 1px solid $grey;
  color: $white;
}*/