nav.chv-nav {
  margin-bottom: 0;
  background-color: $blue;
  .navbar-brand {
    color: $white;
    span.badge {
      background-color: $lightblue;
    }
  }
  .navbar-right li a {
    color: $white;
  }
}
nav.chv-nav2 {
  background-color: $white;
  .navbar-left li a {
    color: $blue;
  }
}