$darkblue: #00328c;
$blue: #0032b4;
$lightblue: #6994e8;
$darkgreen: #39b56e;
$green: #6fdc91;
$lightgreen: #a3e5b5;
$darkorange: #fc723b;
$lightorange: #f79f84;
$white: #fff;
$grey: #d9d9d9;
$regular: 400;
$medium: 500;
$bold: 700;

//TODO: import new colors