// scss-lint:disable EmptyLineBetweenBlocks FinalNewline
@import 'variables';
@import 'bootstrap';
@import 'buttons';
@import 'tags';
*:focus {
  outline: none !important; // remove annoying blue outline from bootstrap that stays on clicked elements
}

//General
.glyphicon-lg {
  font-size: 32px;
}
:not(button) > .glyphicon {
  color: $glyphicon-default-color; // Glyphicons are grey when not in buttons
}
.small,
small {
  color: $gray-light;
}
body {
  font-weight: $regular;
}

//Three panels
.chv-3 {
  background: $gray-lighter;
  .chv-panel-reasons {
    background-color: inherit;
  }
}
.chv-other-logins {
  margin-bottom: 20px;
  img {
    height: 30px;
    width: 30px;
  }
}
.chv-login {
  .alert {
    border-style: dotted;
    .glyphicon {
      color: inherit;
    }
  }
  .input-group {
    margin: 7px;
    input,
    .input-group-addon {
      border-color: $grey;
    }
  }
  form {
    margin: 10px;
  }
  hr {
    margin: 0;
  }
}
.chv-links {
  color: $darkblue;
  display: inline-block;
  margin-top: 25px;
  ul {
    clear: left;
    float: left;
    li {
      clear: left;
      float: left;
    }
  }
  .glyphicon {
    color: inherit;
    margin-right: 10px;
  }
  a {
    color: inherit;
  }
}
.chv-nav {
  background-color: $blue;
  margin-bottom: 0;
  .navbar-brand {
    color: $white;
    font-weight: $regular;
    .badge {
      background-color: $lightblue;
      font-size: 12px;
      font-weight: $regular;
    }
  }
  .navbar-right li a {
    color: $white;
  }
}
.chv-nav2 {
  background-color: $white;
  .navbar-left li a {
    color: $blue;
  }
  li a.chv-nav-highlight {
    background-color: #6fdc91;
    color: $white;
  }
}
.chv-search {
  .input-group-addon .glyphicon {
    color: $blue;
  }
}
.chv-search-inverse {
  * {
    border: 0;
  }
  input {
    background-color: $darkblue;
    color: $white;
    &::placeholder {
      color: $white;
    }
  }
  .input-group-addon {
    background-color: $darkblue;
    .glyphicon {
      color: $white;
    }
  }
}
@include text-emphasis-variant('.text-primary', $blue);